{% extends 'layout.html' %}

{% block header %}
<h1>Login Page</h1>
{% endblock header %}

{% block content %}
<form method="POST" action="">
    {{ form.csrf_token }}
    {{ form.email.label (class="forms-formLabel")}} <br />
    {{ form.email(size="60", class="forms-formInput") }}<br />
    <ul>
        {% for error in form.email.errors %}
        <li class="forms-error">{{ error }}</li>
        {% endfor %}
    </ul>
    {{ form.password.label (class="forms-formLabel")}} <br />
    {{ form.password(size="60", class="forms-formInput") }}<br />
    <ul>
        {% for error in form.password.errors %}
        <li class="forms-error">{{ error }}</li>
        {% endfor %}
    </ul>
    <input class="forms-button" type="submit" value="Login">
</form>
{% endblock content %}
